.git
.idea
.vscode
node_modules
vendor
storage/*.key
.env
.env.local
.env.*.local
Dockerfile__old
docker-compose*.yml
.dockerignore
.gitattributes
.gitignore
*.md
tests/
phpunit.xml
*.log
storage/logs/*
public/hot

