.env
.env.*.php
.env.php
.DS_Store
.idea/
.playground/hello.php
.phpunit.result.cache
.github
.clinerules
.continue
.docs/Active eCommerce CMS Documentation _  V-9.9.9.md
.docs/Active eCommerce CMS Documentation _  V-9.9.9.pdf

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
updates/
updates.zip
ecommerce.zip
install.zip
auth.json
GEMINI.md
_ide_helper_models.php
_ide_helper.php

/.z
/.z/*
/.vscode
/.vagrant
/.phpunit.cache
/.fleet
/.phpstorm.meta.php
/.mcp.json
/.boost.json
/.CLAUDE.md
/.junie/guidelines.md
/.ai/mcp/mcp.json
/.junie/mcp/mcp.json
/.gemini/settings.json
/.storage/logs/
/.agent
/.aiassistant
/public/uploads.zip
/public/all
/public/public
/node_modules
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor
/temp
/nbproject/private/
/nbproject
/public/app-translations
/public/build
/public/hot
/public/logs/*
/config/debugbar.php
/config/ide-helper.php
/config/ignition.php
/config/tinker.php
/bootstrap/compiled.php
/boost.json
/CLAUDE.md
/storage/logs/laravel-2026-02-12.log
/storage/logs/browser.log
/storage/logs/seller_login.log
/test_results.txt
/database/seeders/media_source/*
/public/livewire-tmp
/test_output.txt
