.env
.env.*.php
.env.php
.DS_Store
.idea/
.playground/hello.php
.phpunit.result.cache
.github

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
updates/
updates.zip
ecommerce.zip
install.zip
/public/uploads.zip
/public/all
/public/public
auth.json

/bootstrap/compiled.php
/.z
/.z/*
/.vscode
/.vagrant
/.phpunit.cache
/.fleet

/node_modules
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor
/temp
/nbproject/private/
/nbproject
/public/app-translations
/public/build
/public/hot
/public/logs
